name: Reusable CI Pipeline

on:
  workflow_call:
    inputs:
      language:
        required: true
        type: string
      version:
        required: true
        type: string
      workdir:
        required: true
        type: string

      enable_detect_change:
        required: false
        type: boolean
        default: true
      change_filters:
        required: false
        type: string

      install_cmd:
        required: false
        type: string
      start_cmd:
        required: false
        type: string
      build_cmd:
        required: false
        type: string
      test_cmd:
        required: false
        type: string
      start_wait:
        required: false
        type: number

      project_key:
        required: true
        type: string
      organization:
        required: false
        type: string
      extra_args:
        required: false
        type: string
      coverage_report_paths:
        required: false
        type: string

  secrets:
    SONAR_TOKEN:
      required: true
      type: string

jobs:
  detect-changes:
    if: inputs.enable_detect_change
    uses: ./.github/workflows/detect-change.yml
    with:
      change_filters: ${{ inputs.change_filters }}

  setup:
    needs: detect-changes
    if: |
      !inputs.enable_detect_change ||
      needs.detect-changes.outputs.any_changed == 'true'
    uses: ./.github/workflows/setup-environment.yml
    with:
      language: ${{ inputs.language }}
      version: ${{ inputs.version }}

  build:
    needs: setup
    uses: ./.github/workflows/build.yml
    with:
      language: ${{ inputs.language }}
      workdir: ${{ inputs.workdir }}

      install_cmd: ${{ inputs.install_cmd }}
      build_cmd: ${{ inputs.build_cmd }}
      start_cmd: ${{ inputs.start_cmd }}
      test_cmd: ${{ inputs.test_cmd }}
      start_wait: ${{ inputs.start_wait }}

  sonar:
    needs: build
    if: |
      inputs.sonar_project_key != '' &&
      (!inputs.enable_detect_change || needs.detect-changes.outputs.any_changed == 'true')
    uses: ./.github/workflows/sonarcloud-scan.yml
    with:
      project_key: ${{ inputs.sonar_project_key }}
      organization: ${{ inputs.sonar_organization }}
      workdir: ${{ inputs.workdir }}
      extra_args: ${{ inputs.sonar_extra_args }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}