name: Reusable CI Pipeline

on:
  workflow_call:
    inputs:
      language:
        required: true
        type: string
      version:
        required: true
        type: string
      enable_detect_change:
        required: false
        type: boolean
        default: true
      change_filters:
        required: false
        type: string

jobs:
  detect-changes:
    if: inputs.enable_detect_change
    uses: ./.github/workflows/detect-change.yml
    with:
      filters: ${{ inputs.change_filters }}

  setup:
    needs: [detect-changes]
    if: |
      !inputs.enable_detect_change ||
      needs.detect-changes.outputs.any_changed == 'true'
    uses: ./.github/workflows/setup-environment.yml
    with:
      language: ${{ inputs.language }}
      version: ${{ inputs.version }}