name: Detect Changes

on:
  workflow_call:
    inputs:
      filters:
        required: true
        type: string
      base_ref:
        required: false
        type: string
        default: main

    outputs:
      any_changed:
        value: ${{ jobs.detect.outputs.any_changed }}

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.filter.outputs.any_changed }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: ${{ inputs.filters }}
          base: ${{ inputs.base_ref }}

      - run: echo "any_changed=${{ steps.filter.outputs.any_changed }}"